<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Restful ToDo</title>
	
	<link rel="stylesheet" href="style.css">

	<!-- AngularJS Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
	<script src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
	<script src="elastic.js"></script>
	<script src="script.js"></script>
</head>
<body ng-app="todoApp"  ng-controller="TodoListController as todoList">
	<h1 id="header">Restful ToDo</h1>
	<div id="subtitle">Built with Node.js and Angular.js</div>
	<content>
		<div id="list-header">
			<select id="category-select" ng-model="todoList.selectedCategory" ng-options="cat for cat in todoList.filterCategories"></select>
			
			<ng-md-icon 
				ng-click="todoList.addCategory()"
				icon="add_circle_outline"
				title="Add new cateogry"
				size="30"></ng-md-icon>
			<ng-md-icon 
				ng-click="todoList.removeCategory()"
				icon="remove_circle_outline"
				title="Remove current cateogry"
				ng-hide="todoList.isSpecialCategory()"
				size="30"></ng-md-icon>
			<ng-md-icon 
				ng-click="todoList.renameCategory()"
				icon="mode_edit"
				title="Rename current cateogry"
				ng-hide="todoList.isSpecialCategory()"
				size="30"></ng-md-icon>
			<ng-md-icon 
				ng-click="todoList.archive()"
				icon="archive"
				title="Archive all done ToDos"
				size="30"></ng-md-icon> 
			<ng-md-icon 
				ng-click="todoList.newTodo()"
				icon="add"
				title="Add new ToDo"
				size="30"></ng-md-icon> 
		</div>
		<div id="list-content">
			<div ng-repeat="todo in todoList.todos | filter: todoList.isVisible" ng-class="{'entry-done': todo.done}" class="entry" ng-attr-id="{{'entry-' + todo.id}}">
				<div class="entry-checkbox"><input type="checkbox" ng-model="todo.done" ng-click="todoList.validate(todo);"/></div>
				<div class="entry-text">
					<!--todo.title could also have its own input, but simply putting it as the first line of the description has a better usability
					<input class="entry-title" type="text" ng-model="todo.title" ng-blur="todoList.validate(todo)" />-->
					<div 
						ng-bind-html="todo.text | nl2br"
						ng-hide="todo.editable" 
						ng-click="todo.editable = true;"></div>
					<textarea 
						class="entry-editor"
						ng-model="todo.text"
						ng-hide="!todo.editable"
						ng-blur="todo.editable = false; todoList.validate(todo)"
						focus-on="todo.editable"
						ng-focus="$rootScope.$broadcast('elastic:adjust');"
						msd-elastic></textarea>
				</div>
				<div class="entry-info">
					<!-- For modifying the category a similar select as above could be used
					<select id="entry-category-select" ng-model="todo.category" ng-options="cat for cat in todoList.editCategories" ng-blur="todoList.validate(todo)" ></select> -->
					<span class="entry-info-category" ng-bind-html="todo.category"></span>
					<span class="entry-info-date" ng-bind-html="todo.date | date:'yyyy-MM-dd'"></span>
				</div>
				<ng-md-icon 
					class="entry-delete"
					title="Remove Entry"
					ng-click="todoList.remove(todo)"
					icon="clear"
					size="24"></ng-md-icon> 
			</div>
		</div>
		<div ng-hide="todoList.todos.length" id="list-empty">No ToDos yet!<br/><a href ng-click="todoList.newTodo()">Add one!</a></div>
		<div id="list-footer">{{todoList.remaining()}} of {{todoList.count()}} remaining</div>
	</content>
	<div id="errors" ng-hide="!todoList.errors.length">
		<div ng-repeat="error in todoList.errors" class="error">
			<span class="error-text" ng-bind-html="error.message">Test</span>
			<ng-md-icon 
				class="error-ignore"
				title="Ignore Error"
				ng-click="todoList.ignoreError(error)"
				icon="clear"
				size="16"></ng-md-icon> 
		</div>
	</div>
</body>
</html>
